body {
    direction: rtl;
    background-color: rgb(157, 157, 255);
    font-family: 'tahoma';
}

::selection {
    color: #fff;
    background-color: rgb(158, 128, 255);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: white;
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 1px rgb(134, 133, 133);
    padding-bottom: 25px;
}

.header {
    background-color: rgb(158, 128, 255);
    padding: 23px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-radius: 30px 30px 0px 0px;
}

.header h1 {
    font-size: 21px;
    margin: 0;
    text-align: center;
}

.yearCar,
.CarModel {
    color: rgb(32, 32, 32);
    padding: 15px 15px;
    border-bottom: 1px solid lightgray;
}

.insuranceType {
    padding: 18px 18px;
    color: rgb(32, 32, 32);
    padding-bottom: 35px;
}

.contentList {
    margin-top: 10px;
    padding: 10px;
    width: 350px;
    height: 400px;
    position: relative;

}

.model {
    font-size: 17px;
    font-weight: 800;
    opacity: 0.7;

}

#years,
#boxOptions {
    font-size: 14px;
    font-weight: 600;
    color: rgb(48, 61, 72);
}

.optionsYear,
.car-Option {
    padding: 5px;
    margin-top: 7px;

}

.salSakht {
    display: inline-block;
    font-size: 17px;
    font-weight: 900;
    margin-top: 10px;
    opacity: 0.7;
}

legend {
    font-weight: 900;
    font-size: 20px;
    margin-top: 5px;
}

.simple {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}

.Full {
    font-weight: 600;
    font-size: 16px;
}

.submitBtn button {
    width: 80%;
    background-color: rgb(132, 132, 255);
    border: none;
    padding: 16px;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border-radius: 26px;
    transition: 0.1s;
    cursor: pointer;
}

.submitBtn button:hover {
    background-color: rgb(169, 169, 245);
}

form .submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    position: absolute;
    text-align: center;
    left: 50px;
    top: 26.5px;
    font-size: 14.6px;
    padding: 3px 0;
    border: 1px solid rgb(223, 12, 12);
    width: 180px;
    color: rgb(235, 89, 89);
    background: rgba(255, 217, 217, 0.751);
}